<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Očna poliklinika</title>
    <style>
        /* Dodajte ovaj stil za zeleno-plavu boju */
        header h1 {
            color: #00a3cc; /* Plava boja */
            background-color: #7FFFD4; /* Zelena boja */
            padding: 10px; /* Dodajte prostor oko naslova */
        }
    </style>
</head>
<body>
<header>
    <h1>Dobrodošli u <span>Očnu Polikliniku</span></h1>
</header>
<nav>
    <ul>
        <li><a href="/login">Prijava</a></li>
        <li><a href="/register">Registracija</a></li>
    </ul>
</nav>
<main>
    <p>Prijavite se ili registrirajte kako bi se mogli naručiti na pregled</p>
</main>
<footer>
    <p>&copy; 2023 Očna Poliklinika</p>
</footer>
</body>
</html>
