<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<h2>Prijavi se sa svojim podacima</h2>
<form id="login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="lozinka">Lozinka:</label>
    <input type="lozinka" id="lozinka" name="lozinka" required><br><br>

    <button type="submit">Prijavi se</button>
</form>

<div id="loginMessage"></div>

<script>
    // Handle form submission
    document.getElementById("login").addEventListener("submit", function (event) {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const lozinka = document.getElementById("lozinka").value;

        // Send a POST request to the login endpoint
        fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ username, lozinka })
        })
            .then(response => {
                if (response.ok) {
                    console.log(username)
                    // Login successful, redirect to home page or authorized page
                    window.location.href = "/index";
                } else {
                    // Login failed, display an error message
                    document.getElementById("loginMessage").innerText = "Prijava neuspješna. Molimo provjeri svoje podatke.";
                }
            })
            .catch(error => {
                console.error("Login error:", error);
            });
    });
</script>
</body>
</html>